.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.logo {
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.logo a {
    color: #fff;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.navigation-container {
    color: #ccc;
    background-color: #333;
    text-align: center;
}
.navigation-container a {
    color: #f4f4f4;
    margin: 0 1rem;
    text-decoration: none;
}

.signUpBar {
    text-align: center;
}

